/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/**** BASIC RESET *****/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	/* better practice , define it under body and inherit here*/
	box-sizing: inherit;
}
html {
	/* 1rem = 10px */
	/* by doing this, then we remove the ability for  people  to see our website properly, because they can no longer change the default font size. */
	/* font-size: 10px; */
	/* 10/16 */
	font-size: 62.5%;
}
body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	/* font-size: 16px; */
	line-height: 1.7;
	color: #777;
	padding: 3rem;
	box-sizing: border-box;
	/* paddings and margins are not considered into the height and width */
}
.header {
	height: 95vh;
	background-image: linear-gradient(
			to right,
			rgba(126, 213, 111, 0.8),
			rgba(85, 197, 122, 0.8),
			hsla(160, 64%, 43%, 0.8)
		),
		url("../img//hero.jpg");
	background-size: cover;
	/* always stay on the top */
	background-position: top;
	/* clockwise , starting from the top left corner where is 0,0*/
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
	position: absolute;
	top: 4rem;
	left: 4rem;
}

.logo {
	height: 3.5rem;
}

.text-box {
	position: absolute;
	top: 40%;
	left: 50%;
	/* -50% is for the height or the width of the element */
	transform: translate(-50%, -50%);
	text-align: center;
}
.heading-primary {
	color: #fff;
	text-transform: uppercase;
	/* This backface-visibility property determines if the back part of the element when we transform it
    is visible or hidden for the user.
    So imagine we have an element and we rotate it 180 degrees.
    So it would be logical that we then see the back part
    of that element, right?
    But if we use backface-visibility hidden, then that back part gets hidden which is a hacky fix for the shaky animation, */
	backface-visibility: hidden;
	margin-bottom: 6rem;
}
.heading-primary-main {
	display: block;
	font-size: 6rem;
	font-weight: 400;
	letter-spacing: 3.5rem;
	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	/* animation-iteration-count: 3;
	 animation-delay: 3s; */
}
.heading-primary-sub {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 1.75rem;
	animation: moveInRight 1s ease-out;
	/* animation-name: moveInRight;
	animation-duration: 1s;
	animation-timing-function: ease-out; */
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		/* Because the direction goes from left to right.
        So a positive value means it goes to the right,
        and negative value means it goes to the left. */
		transform: translateX(-10rem);
	}

	80% {
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(1orem);
	}

	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes moveInRBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	/* 80% {
		transform: translateY(-10px);
	} */
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	/* only this way will the padding apply */
	display: inline-block;
	border-radius: 10rem;
	transition: all 0.2s;
	position: relative;
	font-size: 1.6rem;
}
.btn:hover {
	/* y-direction from top to bottom, so negative value means going up */
	transform: translateY(-3px);
	/* x position, y postion , blur(larger values make the element look further away)*/
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
	/* this valve is relative to the -3px */
	transform: translateY(-1px);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-white {
	background-color: #fff;
	color: #777;
	padding: 1.5rem 4rem;
}
.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 10rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
}

.btn-white::after {
	background-color: #fff;
}
.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn-animated {
	animation: moveInRBottom 0.5s ease-out 0.75s;
	/* So, again, these styles will now be applied

before the animation starts simply by using the

animation fill mode and set it to backwards. */
	animation-fill-mode: backwards;
}
